/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src:  local('Lato Light'),
        local('Lato-Light'),
        url('../fonts/lato/ext-lato-light.woff2') format('woff2'),
        url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src:  local('Lato Light'),
        local('Lato-Light'),
        url('../fonts/lato/latin-lato-light.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:  local('Lato Regular'),
        local('Lato-Regular'),
        url('../fonts/lato/ext-lato-regular.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src:  local('Lato Regular'),
        local('Lato-Regular'),
        url('../fonts/lato/latin-lato-regular.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:  local('Lato Bold'),
        local('Lato-Bold'),
        url('../fonts/lato/ext-lato-bold.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src:  local('Lato Bold'),
        local('Lato-Bold'),
        url('../fonts/lato/latin-lato-bold.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2') format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src:  local('Lato Black'),
        local('Lato-Black'),
        url('../fonts/lato/ext-lato-black.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src:  local('Lato Black'),
        local('Lato-Black'),
        url('../fonts/lato/latin-lato-black.woff2') format('woff2'),
        url('https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2') format('woff2');
}
