/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/ext-lato-light.woff2") format("woff2"), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/lato/latin-lato-light.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2") format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato/ext-lato-regular.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2") format("woff2");
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato/latin-lato-regular.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato/ext-lato-bold.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato/latin-lato-bold.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2") format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato/ext-lato-black.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato/latin-lato-black.woff2") format("woff2"), url("https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2") format("woff2");
}
.blue-regular {
  color: #5488C7;
}

.blue-light {
  color: #69ACDF;
}

.blue-button {
  color: #5087C7;
}

.gray-dark {
  color: #9C9CA2 !important;
}

.gray-lighter {
  color: #D8D8D8 !important;
}

.black {
  color: black;
}

.black-light {
  color: #303030;
}

.black-medium {
  color: #464C58;
}

.white {
  color: white;
}

.bg-white-light {
  background-color: #FAFAFA;
}

.bg-white-dark {
  background-color: #F5F5F5;
}

.bg-blue-dash {
  background-color: #4FC1E9;
}

.bg-yellow-dash {
  background-color: #FFCE54;
}

.bg-purple-dash {
  background-color: #6D537A;
}

.bg-green-dash {
  background-color: #53D3B2 !important;
}

.bg-bordo-dash {
  background-color: #F46F7D;
}

.bg-red-dash {
  background-color: #F57156 !important;
}

.red-dash {
  color: #F57156 !important;
}

.green-dash {
  color: #53D3B2 !important;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.font-italic {
  font-style: italic !important;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.line-height-15 {
  line-height: 1.5;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.line-17 {
  line-height: 17px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-26 {
  font-size: 26px;
}

.font-30 {
  font-size: 30px;
}

.font-40 {
  font-size: 40px;
}

.font-46 {
  font-size: 46px;
}

.font-50 {
  font-size: 50px;
}

/*switch styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch-label {
  padding-left: 50px;
  font-size: 10px;
  font-weight: 700;
  color: #9C9CA2;
  text-transform: uppercase;
  line-height: 25px;
}

.switch-label-inline-block {
  float: left;
  line-height: 1;
  padding-left: 10px;
  padding-top: 3px;
  font-weight: 400;
}
.switch-label-inline-block:hover {
  cursor: pointer;
}

.switch input {
  display: none;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-switch {
  background-color: #53D3B2;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #53D3B2;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}

/*checkbox styles*/
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  margin-top: 5px !important;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type=checkbox]:focus + label::before {
  outline: none;
  outline-offset: 0;
}
.checkbox input[type=checkbox]:checked {
  cursor: pointer;
}
.checkbox input[type=checkbox]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type=checkbox]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type=checkbox]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type=checkbox]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox input[type=radio] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type=radio]:focus + label::before {
  outline: none;
  outline-offset: 0;
}
.checkbox input[type=radio]:checked {
  cursor: pointer;
}
.checkbox input[type=radio]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type=radio]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type=radio]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type=radio]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type=checkbox]:checked + label::before {
  background-color: #53D3B2;
  border-color: #53D3B2;
}
.checkbox-primary input[type=checkbox]:checked + label::after {
  color: #fff;
}
.checkbox-primary input[type=checkbox]:indeterminate + label::before {
  background-color: #53D3B2;
  border-color: #53D3B2;
}
.checkbox-primary input[type=checkbox]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-primary input[type=radio]:checked + label::before {
  background-color: #53D3B2;
  border-color: #53D3B2;
}
.checkbox-primary input[type=radio]:checked + label::after {
  color: #fff;
}
.checkbox-primary input[type=radio]:indeterminate + label::before {
  background-color: #53D3B2;
  border-color: #53D3B2;
}
.checkbox-primary input[type=radio]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type=checkbox]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type=checkbox]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type=checkbox]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type=checkbox]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-danger input[type=radio]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type=radio]:checked + label::after {
  color: #fff;
}
.checkbox-danger input[type=radio]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type=radio]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type=checkbox]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type=checkbox]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type=checkbox]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type=checkbox]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-info input[type=radio]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type=radio]:checked + label::after {
  color: #fff;
}
.checkbox-info input[type=radio]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.checkbox-info input[type=radio]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type=checkbox]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type=checkbox]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type=checkbox]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type=checkbox]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-warning input[type=radio]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type=radio]:checked + label::after {
  color: #fff;
}
.checkbox-warning input[type=radio]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.checkbox-warning input[type=radio]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type=checkbox]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type=checkbox]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type=checkbox]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type=checkbox]:indeterminate + label::after {
  background-color: #fff;
}
.checkbox-success input[type=radio]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type=radio]:checked + label::after {
  color: #fff;
}
.checkbox-success input[type=radio]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-success input[type=radio]:indeterminate + label::after {
  background-color: #fff;
}

/*radio button styles*/
.radio {
  padding-left: 20px;
}
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  margin-top: 5px !important;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  margin-top: 5px;
  border-radius: 50%;
  background-color: #53D3B2;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  outline: none;
}
.radio input[type=radio] {
  opacity: 0;
  z-index: 1;
}
.radio input[type=radio]:focus + label::before {
  outline: none;
  outline-offset: 0;
}
.radio input[type=radio]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type=radio]:disabled + label {
  opacity: 0.65;
}
.radio input[type=radio]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

/*# sourceMappingURL=mm-radio-toggle-checkbox.css.map */
