#contact-page{
  #header{
    min-height: 0;
    padding: 100px 0 80px;

    a{
      color: $blue-light;

      &:hover, &:focus, &:active{
        color: $blue-light;
        text-decoration: none;
      }
    }
    h2{
      margin-top: 115px;
      margin-bottom: 110px;
      text-align: center;
      font-size: 40px;
      font-weight: 300;
    }
    h4{
      font-weight: 400;
      font-size: 17px;
      margin-bottom: 50px;
    }
  }

  #contact-form{
    min-height: 0;
    padding: 60px 0 60px;
    background-color: #FFCE54;
    color: $white;

    h2{
      text-align: center;
      font-size: 40px;
      font-weight: 300;
    }

    input{
      display: inline-block;
    }

    p{
      line-height: 150%;
      margin: 0;
      margin-bottom: 40px;
    }

    .form-control {
      color: $black-medium;
      height: 45px;
      background: white;
    }

    .form-control:focus {
      border-color: none;
      border:1px solid $gray-dark;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    input{
      border-radius: 4px;
    }
    button{
      height: 45px;
      width: 40px;
      border-radius: 4px;
      background-color: $blue-light;
      border-bottom: none;
      border-top: none;
      border-left: none;
      border-right: none;
    }
  }
  #mapcontent{
    .answers-phrase{
      margin-top: 120px;
    }

    .contact-infos{
      margin-top: 120px;
    }

    h2{
      font-weight: 300;
      font-size: 30px;
    }

    h4{
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
    }
  }

  #gray-strip{
    background-color: $white-dark;
    min-height: 0;
    padding: 35px 0 35px;


    h2{
      font-weight: 300;
      font-size: 30px;
    }

    h4{
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;

      a, button{
        margin-left: 15px;
      }
    }
  }
  @media (min-width: 1px) and (max-width: 767px){
    #header{
      .card-contact{
        margin-bottom: 25px;
      }
    }

    #gray-strip{
      .btn-gray-disabled{
        margin-top: 10px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 1024px){}

}